body {
     overflow-x: hidden;
       font-family: 'Cabin', sans-serif;
}


@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        text-transform: uppercase;
font-family: 'Exo', sans-serif;
    font-weight: 900;

    }

    .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
    }
}

/* Demo Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */
i{
font-size: 8em;

}

ul { /* also works with ol */
    width: 40%; /* or your desired width */
    text-align: center; /* this will center the list items */
   margin-left: auto;
    margin-right: auto;
}
li { 
    display: inline-block; /* the key bit */
    *display: inline; /* IE7 hack */
    *zoom: 1; /* IE7 hack */
}
h1

 {
    text-transform: uppercase;
    font-family: 'Exo', sans-serif;
    font-weight: 700;
}
.img-circle {
    border-radius: 50%;
}



.logo{
  margin: 0 auto;


}


a{
color: black;

}
.accordion-heading{

font-size: 2em;
}
.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: white;
    color: black;

}

.about-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;

    color: black;
      background: url("../../b.jpg") no-repeat  fixed;
      
      -webkit-background-size: 56%,70%;
      background-position:right; 
}

.services-section {
    height: 100%;
    padding-top: 50px;
    text-align: center;
    background: #6cb245;
    color: white;
}

.contact-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #E84C3D;
    color: black;
}
.slider1{
width: 100%;
    height: 400px;
     background: url("../../database.jpg") no-repeat  ;
        -webkit-background-size: 70%,90%;
background-position:right; }
.slider2{
width: 100%;
    height: 400px;
        background: url("../../data_mining.jpg") no-repeat  ;
        -webkit-background-size: 50%,90%;
        background-position:right;
}
.slider3{
    width: 100%;

    height: 400px;
     background: url("../../music.jpg") no-repeat  ;
        -webkit-background-size: 50%,90%;
        background-position:left;
}
.slider4{
    width: 100%;

    height: 400px;
     background: url("../../bat.jpg") no-repeat  ;
        -webkit-background-size: 50%,50%;
        background-position:right;
}
.carousel-control.left, .carousel-control.right {
    background-image: none
}
.glyphicon-chevron-right,.glyphicon-chevron-left{
    color: black;
}

